/apps/curso/migrations/
/apps/alumno/migrations/
/apps/administrativo/migrations/
/apps/empresa/migrations/
/apps/externo/migrations/
/apps/factura/migrations/
/apps/inscripcion/migrations/
/apps/materia/migrations/
/apps/matricula/migrations/
/apps/migrations/
/apps/perfil/migrations/
/apps/periodo/migrations/
/apps/persona/migrations/
/apps/producto/migrations/
/apps/profesor/migrations/
/apps/rubro/migrations/
/sigestscolar/settings.py
/venv/
/apps/paralelo/migrations/
