{% extends 'bases/base_list.html' %}
{% block header_tabla %}
    <th class="dt-center">Codigo</th>
    <th class="dt-center">Nombre</th>
    <th class="dt-center">Alias</th>
    <th class="dt-center">Descripcion</th>
    <th class="dt-center">Talla</th>
    <th class="dt-center">Valor</th>
    <th style="text-align:center; width: 10%" class="dt-center"><i class="fa fa-cogs"></i></th>
{% endblock %}
{% block body_tabla %}
    {% for elemento in page_obj %}
      <tr>
        <td  class="dt-center">{{ elemento.codigo }}</td>
        <td  class="dt-center">{{ elemento.nombre }}</td>
        <td  class="dt-center">{{ elemento.alias }}</td>
        <td  class="dt-center">{{ elemento.descripcion }}</td>
        <td  class="dt-center">{{ elemento.talla }}</td>
        <td  class="dt-center">{{ elemento.valor }}</td>
        <td style="text-align:center; width: 10%"  class="dt-center">
            <a type="button" class="btn btn-warning btn-xs editar" pk="{{ elemento.pk }}" style="color: white"
                    {% if not modal_form %}
               href="{{ request.path }}?action=edit&pk={{ elemento.encoded_id }}"{% endif %}><i class="fa fa-edit"></i></a>
            <a type="button" class="btn btn-danger btn-xs eliminar" pk="{{ elemento.pk }}"><i class="fa fa-trash"></i></a>
        </td>
    </tr>
    {% empty %}
        <tr>
        <td colspan="4" style="text-align: center">No existen registros para mostrar</td>
        </tr>
    {% endfor %}
{% endblock %}
