{% extends 'bases/base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'adminlte/plugins/daterangepicker/daterangepicker.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet"
          href="{% static 'adminlte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/bootstrap4-toggle-master/css/bootstrap4-toggle.css' %}">
{% endblock %}
{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa fa-plus"></i> {{ titulo_form }}</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                    {% block  form%}
                        <form id="form" class="{% block inline %}{% endblock %}">
                            <div class="card-body">
                                <div class="form-group">
                                    <input type="hidden" name="action" value="{{ action }}">
                                    <input type="hidden" name="pk" value="{{ pk }}">
                                    {{ form.as_p }}
                                </div>
                                {% block extra_form %}

                                {% endblock %}
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                                <button type="button" class="btn btn-danger"
                                        onclick="window.location.href = '{{ request.path }}';">Cancelar
                                </button>
                            </div>
                        </form>
                    {% endblock %}

                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'adminlte/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'adminlte/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/select2/js/select2.full.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/bootstrap4-toggle-master/js/bootstrap4-toggle.min.js' %}"></script>
 {% block sumbit_form %}
     <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('#form').on('submit', function (e) {
                e.preventDefault();
                if ($(this).valid()) {
                    var parametros = new FormData(this);
                    save_with_ajax2('Estas seguro?', window.location.pathname, 'Desea guardar esta informacion?', parametros,
                        function (e) {
                            menssaje_ok('Todo correcto!', 'Informacion guardada corectamente!', 'success', function (e) {
                                window.location.replace('{{ request.path }}');
                            })

                        })
                }

            });

        })
    </script>
 {% endblock %}
{% endblock %}
{% block validate_form %}
    <script>
        $(function () {
            validador();
            $("#form").validate({
                rules: {
                    nombre: {
                        required: true,
                        minlength: 3,
                        maxlength: 50,
                        lettersonly: true,
                    },
                    descripcion: {
                        required: true,
                        minlength: 5,
                        maxlength: 50
                    },
                    {% block rules_form %}
                    {% endblock %}
                },
                messages: {
                    nombre: {
                        required: "Por favor ingresa un nombre",
                        minlength: "Debe ingresar al menos 3 letras",
                        lettersonly: "Debe ingresar unicamente letras y espacios",
                        maxlength: "La descripcion debe tener maximo 50 caracteres",
                    },
                    descripcion: {
                        required: "Por favor ingresa una descripcion",
                        minlength: "Ingresa al menos 5 letras",
                        maxlength: "La descripcion debe tener maximo 50 caracteres",
                    },
                    {% block menssages_fom %}
                    {% endblock %}
                },
            });
            $('input[name="nombre"]').keypress(function (e) {
                if (e.which >= 48 && e.which <= 57) {
                    return false;
                }
            });
            $('input[name="codigo"]')
                .keypress(function (e) {
                    if (e.which !== 8 && e.which !== 0 && (e.which < 48 || e.which > 57)) {
                        return false;
                    }
                });//Para solo numeros;

        });
    </script>
    {% block extra_validate %}
    {% endblock %}
{% endblock %}