{% load static %}
<!doctype html>
<html lang="es">
  <head>
      <style>
          #fondo {
              background-image: url('{% static 'photo1.png' %}');
          }

          .oscuro {
              content: '';
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              background-color: rgba(0, 0, 0, 0.98);
          }
      </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
      <link href="{% static 'images/icoonosisgestcolar.ico' %}" style="border-radius: 12px!important;" rel="icon">

    <link rel="stylesheet" href="{% static 'loginstyle/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/plugins/fontawesome-free/css/all.min.css' %}">

    <link rel="stylesheet" href="{% static 'loginstyle/css/owl.carousel.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'loginstyle/css/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'loginstyle/css/style.css' %}">

    <title>Login {{ empresa.nombre }}</title>
  </head>
  <body class="hold-transition login-page" id="fondo">



  <div class="content" style="padding:0 0;">
    <div class="container">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6 order-md-2 contents"
               style="background-color: white; border-radius: 50px; padding: 25px 25px 50px;">
              <div class="row justify-content-center">
                  <div class="col-md-10">
                      <div class="mb-8" style="left: 50%; transform: translate(35%);"><img
                              src="{% static 'images/graduate.png' %}" alt="Image" class="img-fluid" width="20%"
                              height="25%"></div>
                      <div class="mb-4">
                          <h3><strong> Unidad Educativa {{ empresa.nombre }}</strong></h3>
                          <p class="mb-4">Inicia Sesion llenando el formulario</p>
                      </div>
                      <form method="post" id="formlogin">
                           {% csrf_token %}
                          <div class="form-group first">
                              <label for="username">Usuario</label>
                              <input type="text" class="form-control" id="username_login">

                          </div>
                          <div class="form-group last mb-4">
                              <label for="password">Contraseña</label>
                              <input type="password" class="form-control" id="password_login">
                          </div>
                          <div class="d-flex mb-5 align-items-center">
                              <span class="ml-auto"><a href="#" class="forgot-pass">Olvide mi contraseña</a></span>
                          </div>
                          <button type="submit" class="btn text-white btn-block btn-primary"> Ingresar</button>
                      </form>
                  </div>
              </div>

          </div>
      </div>
    </div>
  </div>
    <script src="{% static 'adminlte/plugins/jquery/jquery.js'%}"></script>
    <script src="{% static 'loginstyle/js/popper.min.js'%}"></script>
    <script src="{% static 'loginstyle/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'loginstyle/js/main.js'%}"></script>
{#    <script src="{% static 'plugins/login.js'%}"></script>#}
    <script src="{% static 'adminlte/plugins/jquery-validation/jquery.validate.min.js' %}"></script>
    <script src="{% static 'adminlte/plugins/bootbox/bootbox.all.min.js'%}"></script>
    <script src="{% static 'adminlte/plugins/sweetalert2.js'%}"></script>
    <script src="{% static 'plugins/funtions.js'%}"></script>
    <script>
          $(function () {
              validador();
              $("#formlogin").validate({
                  rules: {
                      username_login: {
                          required: true,
                          minlength: 2,
                          maxlength: 150,
                      },
                      password_login: {
                          required: true,
                          minlength: 2,
                          maxlength: 128,
                      }
                  },
                  messages: {
                      username_login: {
                          required: 'Ingresa un nombre de usuario valido',
                          minlength: "Ingrese al menos 2 caracteres",
                          maxlength: "Ingrese maximo 150 caracteres"

                      },
                      password_login: {
                          required: 'Ingresa una contraseña valida',
                          minlength: "Ingrese al menos 2 caracteres",
                          maxlength: "Ingrese maximo 128 caracteres"

                      }
                  }
              });

              $('#formlogin').on('submit', function (e) {
                  e.preventDefault();
                  if ($('#username_login').val() === "") {
                      menssaje_error('Error!', "Debe ingresar un Username", 'far fa-times-circle');
                      return false
                  } else if ($('#password_login').val() === "") {
                      menssaje_error('Error!', "Debe ingresar una contraseña", 'far fa-times-circle');
                      return false
                  }
                  var parametros;
                  parametros = {
                      'username': $('#username_login').val(),
                      'password': $('#password_login').val(),
                      'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                  };
                  var isvalid = $(this).valid();
                  if (isvalid) {
                      $('#fondo').addClass('oscuro');
                      var dialog = bootbox.dialog({
                          title: 'Estamos Iniciando sesion!!!',
                          message: '<i class="fa fa-spin fa-spinner"></i> Cargando tu panel principal...',
                          size: 'small',
                          centerVertical: true,
                          closeButton: false,
                      }).on('shown.bs.modal', function () {
                          login(window.location.pathname, parametros, function (data) {
                              window.location.href = '/dashborad'
                          }, function (){
                              dialog.modal('hide');
                              $('#fondo').removeClass('oscuro');
                          });
                          return false;
                      });

                   }
              });
          });

      </script>
  </body>
</html>