{% extends 'bases/base_form.html' %}
{% block extra_form %}
    <hr>
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title"><i class="fas fa-book"></i><b> Cursos a impartir</b></h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <label for="id_cursos">Busca un Curso: </label>
                    <select name="cursos" id="id_cursos" class="form-control select2">
                    </select>
                    <br>
                    <div class="form-group">
                        <table class="table table-bordered" id="table_curso_materias">
                            <thead>
                            <tr>
                                <th style="width:15%;">Curso</th>
                                <th style="width: 50%;">Materia</th>
                                <th style="width: 20%">Paralelo(s)</th>
                                <th style="width: 10%">Quitar</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}
{% block sumbit_form %}
{% endblock %}
{% block validate_form %}
    <script>

        var tblmaterias;
        var distributivo = {
            items: {
                profesor: '',
                periodo: '',
                cursos: [],
            },
            get_ids: function () {
                var ids = [];
                $.each(this.items.cursos, function (key, value) {
                    ids.push(value.id);
                });
                return ids;
            },
            add: function (data) {
                this.items.cursos.push(data);
                this.list();
            },
            edit: function (data) {
                $.each(data, function (key, value) {
                   $.each(value.materias, function (key2, value2) {
                       value2.select = value2.select === 'true';
                   });
                    $.each(value.paralelos, function (key3, value3) {
                       value3.select = value3.select === 'true';
                   });
                    distributivo.items.cursos.push(value);
                });

            },
            list: function () {
                tblmaterias = $("#table_curso_materias").DataTable({
                    destroy: true,
                    dom: 't',
                    autoWidth: false,
                    dataSrc: "",
                    responsive: true,
                    language: {
                        "url": '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                    },
                    data: this.items.cursos,
                    columns: [
                        {data: "curso"},
                        {data: "materias"},
                        {data: "paralelos"},
                        {data: "id"}
                    ],
                    columnDefs: [
                        {
                            targets: [-1],
                            class: 'text-center',
                            width: '5%',
                            orderable: false,
                            render: function (data, row) {
                                return '<a rel="remove" type="button" class="btn btn-danger btn-xs btn-flat rounded-pill" style="color: white" data-toggle="tooltip" title="Quitar Producto"><i class="fa fa-times"></i></a>';

                            }
                        },
                        {
                            targets: [1],
                            class: 'text-center',
                            orderable: false,
                            render: function (data) {
                                var element = '<select class="form-control select2 materia">';
                                    $.each(data, function (key, value) {
                                        if (value.select===true){
                                        element+='<option selected value="'+value.id+'">'+value.materia+'</option>'}
                                        else {element+='<option value="'+value.id+'">'+value.materia+'</option>'}
                                    });
                                    element+='</select>';
                                return element;
                            }
                        },
                        {
                            targets: [2],
                            class: 'text-center',
                            orderable: false,
                            render: function (data) {
                                var element = '<select class="form-control select2 paralelos">';
                                    $.each(data, function (key, value) {
                                        if (value.select===true){
                                            element+='<option selected value="'+value.id+'">'+value.paralelo+'</option>'
                                        } else {element+='<option value="'+value.id+'">'+value.paralelo+'</option>' }

                                     });
                                    element+='</select>';
                                return element;
                            }
                        },
                    ]
                });
            }
        };
        $(function () {
            $('#id_cursos').select2({
                language: {
                    inputTooShort: function () {
                        return "Ingresa al menos un caracter...";
                    },
                    "noResults": function () {
                        return "Sin resultados";
                    },
                    "searching": function () {
                        return "Buscando...";
                    }
                },
                theme: 'bootstrap4',
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'GET',
                    url: '/distributivo',
                    data: function (params) {
                        return {
                            term: params.term,
                            action: 'search_curso',
                            id: $('#id_periodo option:selected').val()
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };

                    },

                },
                placeholder: 'Busca un Curso',
                minimumInputLength: 1,
            }).on('select2:select', function (e) {
                $.ajax({
                    type: "GET",
                    url: '/distributivo',
                    data: {
                        "id": $('#id_cursos option:selected').val(),
                        'action': 'get_curso'
                    },
                    dataType: 'json',
                    success: function (data) {
                        distributivo.add(data);
                        $('#id_cursos').val(null).trigger('change');
                    },
                    error: function (xhr, status, data) {
                        alert(data);
                    },

                })
            });
            $('#id_paralelo').select2({
                language: {
                    inputTooShort: function () {
                        return "Ingresa al menos un caracter...";
                    },
                    "noResults": function () {
                        return "Sin resultados";
                    },
                    "searching": function () {
                        return "Buscando...";
                    }
                },
                theme: 'bootstrap4',
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'GET',
                    url: '/distributivo/',
                    data: function (params) {
                        return {
                            term: params.term,
                            action: 'search_paralelo',
                            id: $('#id_periodo option:selected').val(),
                            curso: $('#id_curso option:selected').val()
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };

                    },

                },
                placeholder: 'Busca un Paralelo',
                minimumInputLength: 1,
            });

            $('#table_curso_materias').on('click', 'a[rel="remove"]', function () {
                var tr = tblmaterias.cell($(this).closest('td, li')).index();
                borrar_todo_alert('Alerta de Eliminación',
                    'Esta seguro que desea eliminar esta materia <br> ' +
                    '<strong>CONTINUAR?</strong>', function () {
                        distributivo.items.cursos.splice(tr.row, 1);
                        distributivo.list();
                    })
            }).on('change', '.materia', function () {
                var tr = tblmaterias.cell($(this).closest('td, li')).index();
                var pk = parseInt($(this).val());
                $.each(distributivo.items.cursos[tr.row].materias, function (key, value) {
                   if (parseInt(value.id)===pk){
                       value.select = true;
                   } else {value.select = false;}
                });
                  console.log(distributivo.items.cursos[tr.row].materias);
            }).on('change', '.paralelos', function () {
                var tr = tblmaterias.cell($(this).closest('td, li')).index();
                var pk = parseInt($(this).val());
                $.each(distributivo.items.cursos[tr.row].paralelos, function (key, value) {
                   if (parseInt(value.id)===pk){
                       value.select = true;
                   } else {value.select = false;}
                });
            });
            validador();
            $("#form").validate({
                rules: {
                    periodo: {required: true,},
                    paralelo: {required: true},
                    curso: {required: true},
                    cupo: {required: true, cupominimo:true},
                },
                messages: {
                    periodo: {required: "Por favor elige un periodo"},
                    paralelo: {required: "Por favor elige un paralelo"},
                    curso: {required: "Por favor elige un curso"},
                    cupo: {required: "Por favor ingresa un cupo"},
                },
            });
            $('[data-toggle="tooltip"]').tooltip();
            $('#form').on('submit', function (e) {
                e.preventDefault();
                if ($(this).valid() && distributivo.items.cursos.length > 0) {
                    distributivo.items.profesor = $('#id_profesor').val();
                    distributivo.items.periodo = $('#id_periodo').val();
                    var parametros = {'distributivo': JSON.stringify(distributivo.items)};
                    parametros['action'] = '{{ action }}';
                     {% if pk %}parametros['pk'] = '{{ pk }}';{% endif %}
                    save_with_ajax('Estas seguro?', '/distributivo/', 'Desea guardar esta informacion?', parametros,
                        function (e) {
                            menssaje_ok('Todo correcto!', 'Informacion guardada corectamente!', 'success', function (e) {
                                window.location.replace('/distributivo/');
                            })

                        })
                } else {
                    menssaje_error('Error', 'Debes ingresar al menos 1 materias a impartir para guardar el distributivo', 'error', function () {
                    })
                }

            });
            {% if cursosdata %}
                distributivo.edit({{ cursosdata|safe }});
            {% endif %}
            distributivo.list();
        });

        function select_materias() {
            $('.materia').select2({
                language: {
                    inputTooShort: function () {
                        return "Ingresa al menos un caracter...";
                    },
                    "noResults": function () {
                        return "Sin resultados";
                    },
                    "searching": function () {
                        return "Buscando...";
                    }
                },
                theme: 'bootstrap4',
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'GET',
                    url: '/distributivo',
                    data: function (params) {
                        return {
                            term: params.term,
                            action: 'search_materias',

                            id: $('#id_periodo').val(),
                            curso: $(this).parent().data()
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };

                    },

                },
                placeholder: 'Busca una materia',
                minimumInputLength: 1,
             });
        }


    </script>

{% endblock %}