{% extends 'bases/base_list.html' %}
{% load tags_general %}
{% block filtros %}
    <div class="row">
        <div class="col-sm-12">
            <form action="{{ request.path }}">
                <table>
                    <tbody>
                    <tr>
                        <td style="width: 20%">
                            <select name="periodos" id="id_periodos" class="form-control input-sm">
                            </select>
                        </td>
                        <td style="width: 20%">
                            <div class="form-group"><br>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm input-search"
                                           style="border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;"
                                           placeholder="Buscar...." autocomplete="off"
                                           aria-label="Buscar..." aria-describedby="basic-addon2"
                                           name="search"
                                           value="{{ search }}">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success btn-sm" type="button" id="search"
                                                data-toggle="tooltip" data-placement="bottom"
                                                title="Buscar...">
                                            <i class="fa fa-search"></i></button>
                                        {% if search %}
                                            <button class="btn btn-outline-danger btn-sm" type="button"
                                                    data-toggle="tooltip" data-placement="bottom"
                                                    title="Mostrar todos"
                                                    onclick="window.location.href ='{{ request.path }}'"><i
                                                    class="fas fa-redo-alt"></i></button>
                                        {% endif %}

                                    </div>
                                </div>

                            </div>
                        </td>
                    {% if request.session.perfilactual == 'ADMINISTRATIVO' and request.session.perfiles.es_administrativo or request.user.is_superuser %}
                        <td style="width: 10%">
                                <div class="form-group float-right">
                                    <button {% if not modal_form %}onclick="window.location.href ={{ url_add }};" {% endif %}type="button"
                                            class="btn btn-block btn-primary btn-sm"
                                            {% if modal_form %} data-toggle="modal"
                                            data-target="#modal_form"{% endif %}
                                            style="margin-right: 2px;"><i class="fa fa-plus-circle"></i> Agregar
                                    </button>
                                </div>
                            </td>
                    {% endif %}

                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <br>
{% endblock %}
{% block header_tabla %}
{#    <th class="dt-center" style="width: 10%">Periodo</th>#}
    <th class="dt-center" style="width: 25%">Docente</th>
{#    <th class="dt-center" style="width: 60%">Detalles</th>#}
    <th class="dt-center" style="width: 24%">Materia</th>
    {% if request.session.perfilactual == 'ADMINISTRATIVO' and request.session.perfiles.es_administrativo %}
    <th style="text-align:center; width: 5%" class="dt-center"><i class="fa fa-cogs"></i></th>
    {% endif %}
{% endblock %}
{% block body_tabla %}
    {% for elemento in page_obj %}
        <tr>
            <td class="dt-center" style="width: 15%">{{ elemento.profesor.persona.nombre_completo }} <br>
            <b>Cedula: </b> {{ elemento.profesor.persona.cedula }}</td>
            <td class="dt-center" style="width: 75%">
                <p>
                    <a style="color: black" class="accordion-toggle" data-toggle="collapse"
                       data-parent="#cursos{{ forloop.counter }}"
                       href="#cursos{{ forloop.counter }}">
                        <span class="fas fa-eye" aria-hidden="true"></span> Cursos
                    </a>
                </p>
                <div class="collapse" id="cursos{{ forloop.counter }}">
                    {% with cursos=elemento.profesor|args:periodo.pk|call:'cursos_imparte' %}
                        {% for curso in  cursos %}
                            <p><i class="fas fa-chevron-right"></i> {{ curso.materia.curso.curso.nombre }}&nbsp;&nbsp;
                                <br><b>Paralelo: </b>{{ curso.paralelo }} &nbsp; <a href="/listaalumnos/{{ curso.id }}?paralelo={{ curso.paralelo.id }}" class="btn btn-danger btn-xs listaalumnos" data-toggle="tooltip" title="Exportar lista de alumnos"><i class="far fa-file-pdf"></i></a>
                                &nbsp; <a  onclick="verlista({{ curso.id }},{{ curso.paralelo.id }});" class="btn btn-success btn-xs verlista" data-toggle="tooltip" title="Ver lista de alumnos"><i class="fa fa-list"></i></a>
                                <br> <a style="color: black" class="accordion-toggle" data-toggle="collapse"
                                        data-parent="#materias{{ forloop.counter }}"
                                        href="#materias{{ forloop.counter }}">
                                    <span class="fas fa-eye" aria-hidden="true"></span> Materias
                                </a></p>
                            <div class="collapse" id="materias{{ forloop.counter }}">
                                {% with materias=elemento.profesor|args:curso.materia.curso.curso.pk|args:curso.paralelo.pk|call:'materias_imparte' %}
                                    {% for materia in  materias %}
                                        &nbsp;&nbsp;&nbsp;&nbsp; <i class="fas fa-spell-check"></i>
                                        {{ materia.materia.materia }}
                                    {% endfor %}
                                {% endwith %}
                            </div>
                            <hr>

                        {% endfor %}
                    {% endwith %}
                </div>
            </td>
        {% if request.session.perfilactual == 'ADMINISTRATIVO' and request.session.perfiles.es_administrativo %}
            <td style="text-align:center; width: 10%">
                <a type="button" class="btn btn-warning btn-xs editar" pk="{{ elemento.profesor.persona.encoded_id }}" style="color: white"
                        {% if not modal_form %}
                   href="{{ request.path }}?action=edit&pk={{ elemento.profesor.persona.encoded_id }}&periodo={{ periodo.pk }}"{% endif %}><i
                        class="fa fa-edit"></i></a>
                <a type="button" class="btn btn-danger btn-xs eliminardist" pk="{{ elemento.profesor.persona.encoded_id }}"><i
                        class="fa fa-trash"></i></a>
            </td>
        {% endif %}
        </tr>
    {% empty %}
        <tr>
            <td colspan="8" style="text-align: center">No existen registros para mostrar</td>
        </tr>
    {% endfor %}

{% endblock %}
{% block modal %}
    <div class="row">
        <div class="col-sm-12">
            <div class="modal fade" id="modallistaalumnos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <form id="form">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="titulo_form"><i
                                        class="fas fa-book"></i> Lista de Alumnos
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="card-body" id="modal_lista">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"> Cerrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block validate_form %}
    <script>
    $('.accordion-toggle').on('click',function () {
        if ($(this).attr('aria-expanded')==='true'){
            $(this).find('span').addClass('fa-eye').removeClass('fa-eye-slash');
        }else {
             $(this).find('span').addClass('fa-eye-slash').removeClass('fa-eye');
        }
    });
    {% if periodo %}
        var newOption = new Option('{{ periodo.nombre }}', {{ periodo.id }}, true, true);
        $('#id_periodos').append(newOption).trigger('change');
    {% endif %}

    $('#id_periodos').select2({
        language: {
            inputTooShort: function () {
                return "Ingresa al menos un caracter...";
            },
            "noResults": function () {
                return "Sin resultados";
            },
            "searching": function () {
                return "Buscando...";
            }
        },
        theme: 'bootstrap4',
        allowClear: true,
        ajax: {
            delay: 250,
            type: 'GET',
            url: '/distributivo/',
            data: function (params) {
                return {
                    term: params.term,
                    action: 'filter_periodo'
                };
            },
            processResults: function (data) {
                return {
                    results: data
                };

            },

        },
        placeholder: 'Buscar por periodo',
        minimumInputLength: 1,
            });

    $('#search').on('click', function (e) {
        e.preventDefault();
        let periodo = '', curso = '', paralelo = '', search = '';
        if ($('#id_periodos').val() != null) {
            periodo = $('#id_periodos').val();
        }
        if ($('.input-search').val() !== '') {
            search = $('.input-search').val();
        }
        window.location.href = '/distributivo?per=' + periodo +'&search=' + search

    });

    $('.eliminardist').on('click', function (e) {
        e.preventDefault();
        var parametros = {'action': 'delete', 'pk': $(this).attr('pk'), 'periodo': '{{ periodo }}'};
        save_estado('Estas seguro?', window.location.pathname, 'Desea eliminar este registro?', parametros, function (data) {
            menssaje_ok('Todo correcto!', 'Registro eliminado corectamente!', 'success', function (e) {
                window.location.reload();
            })
        });
    });

    function verlista(materia, paralelo){
        $('#modal_lista').html('');
        ajax_sin_confirmar('/distributivo/', {'id': materia, 'paralelo': paralelo, 'action': 'verlista'},
        function (data){
            $('#modal_lista').html(data.data);
            $('#modallistaalumnos').modal('show');
        })
    }
    </script>
{% endblock %}

    <style>
        .dropdown-menu {
            left: -40px !important;
        }
    </style>
