{% extends 'bases/base_list.html' %}
{% block header_tabla %}
    <th class="dt-center">Curso</th>
    <th class="dt-center">Paralelo</th>
    <th class="dt-center">Periodo</th>
    <th class="dt-center">Estadisticas</th>
    <th style="text-align:center; width: 10%" class="dt-center"><i class="fa fa-cogs"></i></th>
{% endblock %}
{% block body_tabla %}
    {% for elemento in page_obj %}
        <tr>
            <td class="dt-center">{{ elemento.curso.nombre }}</td>
            <td class="dt-center">{{ elemento.paralelo.nombre }}</td>
            <td class="dt-center">{{ elemento.periodo.nombre }}</td>
            <td class="dt-center" style="font-size: 14px"><b>Total materias: </b> <span
                    class="badge badge-info">{{ elemento.total_materias }}</span> <br>
                <b>Total inscritos: </b> <span class="badge badge-info">{{ elemento.total_inscritos }}</span></td>
            <td style="text-align:center; width: 10%" class="dt-center">
                <a type="button" class="btn btn-primary btn-xs detalle" pk="{{ elemento.pk }}" style="color: white"
                   data-toggle="tooltip" title="Detalle de materias"><i class="fas fa-book"></i></a>
                <a type="button" class="btn btn-warning btn-xs editar" pk="{{ elemento.pk }}" style="color: white"
                        {% if not modal_form %}
                   href="{{ request.path }}?action=edit&pk={{ elemento.encoded_id }}"{% endif %}><i
                        class="fa fa-edit"></i></a>
                {% if not elemento.tiene_inscripciones %}
                    <a type="button" class="btn btn-danger btn-xs eliminar" pk="{{ elemento.pk }}"><i
                            class="fa fa-trash"></i></a>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5" style="text-align: center">No existen registros para mostrar</td>
        </tr>
    {% endfor %}
{% endblock %}
{% block modal %}
    <div class="row">
        <div class="col-sm-12">
            <div class="modal fade" id="modal_detalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form id="form">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="titulo_form"><i
                                        class="fas fa-book"></i> Detalle de materias
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="card-body">
                                    <table class="table table-bordered" id="table_materias">
                                        <thead>
                                        <tr>
                                            <th style="width: 5%">#</th>
                                            <th style="width:15%;">Identificacion</th>
                                            <th style="width: 50%;">Nombre</th>
                                            <th style="width: 20%">Alias</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"> Cerrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block validate_form %}
    <script>
        $(function () {
            $('.detalle').on('click', function (e) {
                $('#modal_detalle').modal('show');
                e.preventDefault();
                $('#table_materias').DataTable({
                    destroy: true,
                    dom: 't',
                    autoWidth: false,
                    dataSrc: "",
                    responsive: true,
                    language: {
                        "url": '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                    },
                    ajax: {
                        url: window.location.pathname,
                        type: 'POST',
                        data: {'pk': $('.detalle').attr('pk'), 'action': 'detalle'},
                        dataSrc: ""
                    },
                    columns: [
                        {data: 'id'},
                        {data: "identificacion"},
                        {data: "nombre"},
                        {data: "alias"}
                    ],
                });
            });
            $('.eliminar').on('click', function (e) {
                e.preventDefault();
                var parametros = {'action': 'delete', 'pk': $(this).attr('pk')};
                save_estado('Estas seguro?', window.location.pathname, 'Desea eliminar este registro?', parametros, function (data) {
                    menssaje_ok('Todo correcto!', 'Registro eliminado corectamente!', 'success', function (e) {
                        window.location.reload();
                    })
                });
            });
        });
    </script>


{% endblock %}
