{% extends 'bases/base_list.html' %}
{% block filtros %}
    <div class="row">
        <div class="col-sm-12">
            <form action="{{ request.path }}">
                <table>
                    <tbody>
                    <tr>
                        <td style="width: 20%">
                            <select name="periodos" id="id_periodos" class="form-control input-sm">
                            </select>
                        </td>
                        <td style="width: 20%">
                            <select name="cursos" id="id_cursos" class="form-control input-sm">
                            </select>
                        </td>
                        <td style="width: 20%">
                            <div class="form-group"><br>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm input-search"
                                           style="border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;"
                                           placeholder="Buscar...." autocomplete="off"
                                           aria-label="Buscar..." aria-describedby="basic-addon2"
                                           name="search"
                                           value="{{ search }}">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success btn-sm" type="button" id="search"
                                                data-toggle="tooltip" data-placement="bottom"
                                                title="Buscar...">
                                            <i class="fa fa-search"></i></button>
                                        {% if search %}
                                            <button class="btn btn-outline-danger btn-sm" type="button"
                                                    data-toggle="tooltip" data-placement="bottom"
                                                    title="Mostrar todos"
                                                    onclick="window.location.href ='{{ request.path }}'"><i
                                                    class="fas fa-redo-alt"></i></button>
                                        {% endif %}

                                    </div>
                                </div>

                            </div>
                        </td>
                        <td style="width: 10%">
                            <div class="form-group float-right">
                                <button {% if not modal_form %}onclick="window.location.href ={{ url_add }};" {% endif %}type="button"
                                        class="btn btn-block btn-primary btn-sm"
                                        {% if modal_form %} data-toggle="modal"
                                        data-target="#modal_form"{% endif %}
                                        style="margin-right: 2px;"><i class="fa fa-plus-circle"></i> Agregar
                                </button>
                                <br>
                             <button type="button"
                                        class="btn btn-block btn-success btn-sm"
                                        data-toggle="modal"
                                        data-target="#modal_configuracion"
                                        style="margin-right: 2px;"><i class="fa fa-dollar-sign"></i> Valores
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <br>
{% endblock %}
{% block header_tabla %}
    <th class="dt-center" style="width: 25%!important;">Curso</th>
    <th class="dt-center">Paralelos</th>
    <th class="dt-center">Periodo</th>
    <th class="dt-center">Estadisticas</th>
    <th style="text-align:center; width: 10%" class="dt-center"><i class="fa fa-cogs"></i></th>
{% endblock %}
{% block body_tabla %}
    {% for elemento in page_obj %}
        <tr>
            <td class="dt-center">{{ elemento.curso.nombre }}<br>
                {% if  elemento.configuracion_valores or elemento.configuro_quimestres %}
                    <div class="row">
                        {% if  elemento.configuracion_valores %}
                            <div class="col-sm-5">
                                <br><b><i class="far fa-money-bill-alt"></i> Valores</b><br>
                                <b>Matricula :</b> <i
                                    class="fa fa-dollar-sign"></i> {{ elemento.configuracion_valores.matricula }}<br>
                                <b>Pension :</b> <i
                                    class="fa fa-dollar-sign"></i> {{ elemento.configuracion_valores.pension }}<br>
                                <b>Total pensiones :</b> {{ elemento.configuracion_valores.numeropensiones }}<br>
                            </div>
                        {% endif %}
                        {% if elemento.configuro_quimestres %}
                            <div class="col-sm-5">
                                <br><b><i class="fas fa-sort-numeric-down-alt"></i> Modelo de Calificacion</b><br>
                                <b>Quimestres :</b> {{ elemento.quimestres }}<br>
                                <b>Parcial por Quimestre :</b> {{ elemento.parciales }}<br>
                                <b>Examen por Quimestre :</b> 2 <br>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if not elemento.configuracion_valores %}
                    <br>
                    <span class="badge badge-danger" style="font-size: 12px">Este curso aun no tiene configurado los valores</span>
                {% endif %}
                {% if not elemento.configuro_quimestres %}
                    <br>
                    <span class="badge badge-secondary" style="font-size: 12px">Este curso aun no tiene configurado el modelo de calificacion</span>
                {% endif %}
            </td>
            <td class="dt-center">{%  for paralelo in elemento.paralelo.all %}
                {{ paralelo.nombre }} &nbsp; <a href="/listaalumnos/{{ elemento.id }}?action=listainscritos&paralelo={{ paralelo.id }}" class="btn btn-danger btn-xs listaalumnos"  target="_blank" data-toggle="tooltip" title="Exportar lista de alumnos"><i class="far fa-file-pdf"></i></a>
                &nbsp; <a onclick="verlista({{ elemento.id }},{{ paralelo.id }});" class="btn btn-success btn-xs verlista" data-toggle="tooltip" title="Ver lista de alumnos"><i class="fa fa-list"></i></a>
                <br><br>
                {% endfor %}
                </td>
            <td class="dt-center">{{ elemento.periodo.nombre }}</td>
            <td class="dt-center" style="font-size: 14px"><b>Total materias: </b> <span
                    class="badge badge-info">{{ elemento.total_materias }}</span> <br>
                <b>Total inscritos: </b> <span class="badge badge-info">{{ elemento.total_inscritos }}</span><br>
                <b>Cupo: </b> <span class="badge badge-success">{{ elemento.cupo }}</span>
                {% if elemento.cupoindividual %}<br><span class="badge badge-dark" style="color: white">Cupo individual por paralelo</span>{% endif %}
            </td>
            <td style="text-align:center; width: 10%" class="dt-center">
                <a type="button" class="btn btn-primary btn-xs detalle" pk="{{ elemento.pk }}" style="color: white"
                   data-toggle="tooltip" title="Detalle de materias"><i class="fas fa-book"></i></a>
                <a type="button" class="btn btn-warning btn-xs editar" pk="{{ elemento.pk }}" style="color: white"
                        {% if not modal_form %}
                   href="{{ request.path }}?action=edit&pk={{ elemento.encoded_id }}"{% endif %}><i
                        class="fa fa-edit"></i></a>
                {% if not elemento.tiene_inscripciones %}
                    <a type="button" class="btn btn-danger btn-xs eliminar" pk="{{ elemento.pk }}"><i
                            class="fa fa-trash"></i></a>
                {% endif %}
            {% if not elemento.configuracion_valores %}
                <a type="button" class="btn btn-secondary btn-xs configuracionform" data-toggle="tooltip"
                   title="Este curso aun no tiene configurado los valores" pk="{{ elemento.pk }}"><i class="fas fa-hand-holding-usd"></i></a>
            {% endif %}
            {% if not elemento.configuro_quimestres %}
                <a type="button" class="btn btn-info btn-xs configuracionquimestre" data-toggle="tooltip"
                   title="Este curso aun no tiene configurado el modelo de notas" pk="{{ elemento.pk }}"><i class="fas fa-file-signature"></i></a>
            {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5" style="text-align: center">No existen registros para mostrar</td>
        </tr>
    {% endfor %}
{% endblock %}
{% block modal %}
    <div class="row">
        <div class="col-sm-12">
            <div class="modal fade" id="modal_detalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form id="form">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="titulo_form"><i
                                        class="fas fa-book"></i> Detalle de materias
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="card-body">
                                    <table class="table table-bordered" id="table_materias">
                                        <thead>
                                        <tr>
                                            <th style="width: 5%">#</th>
                                            <th style="width:15%;">Identificacion</th>
                                            <th style="width: 50%;">Nombre</th>
                                            <th style="width: 20%">Alias</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"> Cerrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="modal_configuracion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form id="form_config" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="titulo_form"><i
                                        class="fas fa-book"></i> Configuracion de Valores
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="card-body">
                                    <input type="hidden" name="action" value="configuraciongeneral">
                                    {{ formvalores }}
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> Guardar</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal"> Cerrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="modal_valores_individual" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form id="form_config_individual" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="titulo_form"><i
                                        class="fas fa-book"></i> Configuracion de Valores Individual
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="card-body">
                                    <input type="hidden" name="action" value="configurarindividual">
                                    {{ formvaloresindividual }}
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> Guardar</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal"> Cerrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal fade" id="modallistaalumnos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <form id="form">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="titulo_form"><i
                                        class="fas fa-book"></i> Lista de Alumnos
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="card-body" id="modal_lista">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"> Cerrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block validate_form %}
    <script>
        $(function () {
            var pkindividual='';
            $('.detalle').on('click', function (e) {
                $('#modal_detalle').modal('show');
                e.preventDefault();
                let pk = $(this).attr('pk');
                $('#table_materias').DataTable({
                    destroy: true,
                    dom: 't',
                    autoWidth: false,
                    dataSrc: "",
                    responsive: true,
                    language: {
                        "url": '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                    },
                    ajax: {
                        url: window.location.pathname,
                        type: 'POST',
                        data: {'pk': pk, 'action': 'detalle'},
                        dataSrc: ""
                    },
                    columns: [
                        {data: 'id'},
                        {data: "identificacion"},
                        {data: "nombre"},
                        {data: "alias"}
                    ],
                });
            });
            $('.eliminar').on('click', function (e) {
                e.preventDefault();
                var parametros = {'action': 'delete', 'pk': $(this).attr('pk')};
                save_estado('Estas seguro?', window.location.pathname, 'Desea eliminar este registro?', parametros, function (data) {
                    menssaje_ok('Todo correcto!', 'Registro eliminado corectamente!', 'success', function (e) {
                        window.location.reload();
                    })
                });
            });
            $('#id_periodos').select2({
                language: {
                    inputTooShort: function () {
                        return "Ingresa al menos un caracter...";
                    },
                    "noResults": function () {
                        return "Sin resultados";
                    },
                    "searching": function () {
                        return "Buscando...";
                    }
                },
                theme: 'bootstrap4',
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'GET',
                    url: '/cursos/aperturar/',
                    data: function (params) {
                        return {
                            term: params.term,
                            action: 'filter_periodo'
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };

                    },

                },
                placeholder: 'Buscar por periodo',
                minimumInputLength: 1,
            }).on('change', function (e) {
                e.preventDefault();
                $('#id_cursos').val('').trigger('change');
                $('#id_paralelos').val('').trigger('change');

            });
            $('#id_cursos').select2({
                language: {
                    inputTooShort: function () {
                        return "Ingresa al menos un caracter...";
                    },
                    "noResults": function () {
                        return "Sin resultados";
                    },
                    "searching": function () {
                        return "Buscando...";
                    }
                },
                theme: 'bootstrap4',
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'GET',
                    url: '/cursos/aperturar/',
                    data: function (params) {
                        return {
                            term: params.term,
                            action: 'filter_curso',
                            id: $('#id_periodos option:selected').val()
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };

                    },

                },
                placeholder: 'Buscar por Curso',
                minimumInputLength: 1,
            }).on('change', function (e) {
                e.preventDefault();
                $('#id_paralelos').val('').trigger('change');
            });
            $('#search').on('click', function (e) {
                e.preventDefault();
                let periodo = '', curso = '', paralelo = '', search = '';
                if ($('#id_periodos').val() != null) {
                    periodo = $('#id_periodos').val();
                }
                if ($('#id_cursos').val() != null) {
                    curso = $('#id_cursos').val();
                }
                if ($('.input-search').val() !== '') {
                    search = $('.input-search').val();
                }
                window.location.href = '/cursos/aperturar?periodo=' + periodo + '&curso=' + curso + '&search=' + search

            });
            {% if periodo %}
                var newOption = new Option('{{ periodo.nombre }}', {{ periodo.id }}, true, true);
                $('#id_periodos').append(newOption).trigger('change');
            {% endif %}
            {% if curso %}
                var cursooption = new Option('{{ curso.nombre }}', {{ curso.id }}, true, true);
                $('#id_cursos').append(cursooption).trigger('change');
            {% endif %}
            $('.configuracionform').click(function () {
                let pk = $(this).attr('pk');
                preguntar_si_no('Atencion!', 'Desea utilizar la configuracion de valores general para este curso?',
                    function (e) {
                        ajax_sin_confirmar_post('/cursos/aperturar/', {
                            'action': 'configurarcomogeneral',
                            'pk': pk
                        }, function (e) {
                           menssaje_ok('Todo correcto!', 'Confguracion guardada corectamente!', 'success', function (e) {
                                window.location.reload();
                            })
                        }, function () {})
                    },
                    function (e) {
                        $('#modal_valores_individual').modal('show');
                        pkindividual = $('.configuracionform').attr('pk');
                    })

            });

            $('#form_config').submit(function (e) {
                e.preventDefault();
                if ($(this).valid()) {
                    var parametros = new FormData(this);
                    save_with_ajax2('Estas seguro?', window.location.pathname, 'Desea guardar esta informacion?', parametros,
                        function (e) {
                            menssaje_ok('Todo correcto!', 'Informacion guardada corectamente!', 'success', function (e) {
                                window.location.reload();
                            })
                        })
                }

            });
            $('#form_config_individual').submit(function (e) {
                e.preventDefault();
                if ($(this).valid()) {
                    var parametros = new FormData(this);
                    parametros.append('pk', pkindividual);
                    save_with_ajax2('Estas seguro?', window.location.pathname, 'Desea guardar esta informacion?', parametros,
                        function (e) {
                            menssaje_ok('Todo correcto!', 'Confguracion guardada corectamente!', 'success', function (e) {
                                window.location.reload();
                            })
                        })
                }

            });
            validador();
            $("#form_config").validate({
                rules: {
                    matricula: {required: true, valorminimo: 10.00, valormaximo: 5000},
                    pension: {required: true, valorminimo: 10.00, valormaximo: 5000},
                    numeropensiones: {required: true, valorminimo: 1, valormaximo: 12},
                },
                messages: {
                    matricula: {required: "Por favor ingresa el valor de la matricula"},
                    pension: {required: "Por favor ingresa el valor de la pension"},
                    numeropensiones: {required: "Por favor ingresa el numero de pensiones"},
                },
            });
            $("#form_config_individual").validate({
                rules: {
                    matricula: {required: true, valorminimo: 10.00, valormaximo: 5000},
                    pension: {required: true, valorminimo: 10.00, valormaximo: 5000},
                    numeropensiones: {required: true, valorminimo: 1, valormaximo: 12},
                },
                messages: {
                    matricula: {required: "Por favor ingresa el valor de la matricula"},
                    pension: {required: "Por favor ingresa el valor de la pension"},
                    numeropensiones: {required: "Por favor ingresa el numero de pensiones"},
                },
            });
            $('#modal_configuracion').on('hidden.bs.modal', function (e) {
                reset_form('#form_config');
            });
            $('#modal_valores_individual').on('hidden.bs.modal', function (e) {
                reset_form('#form_config_individual');
            });

            $('.configuracionquimestre').click(function (e) {
                e.preventDefault();
                let pk = $(this).attr('pk');
                save_with_ajax('Alerta!', '/cursos/aperturar/', 'Esta seguro que desea configurar el modelo de calificacion de este curso',
                    {'id': pk, 'action': 'configuraparciales'}, function () { window.location.reload(); });
            })
        });
         function verlista(curso, paralelo){
        $('#modal_lista').html('');
        ajax_sin_confirmar('/cursos/aperturar/', {'id': curso, 'paralelo': paralelo, 'action': 'verlista'},
        function (data){
            $('#modal_lista').html(data.data);
            $('#modallistaalumnos').modal('show');
        })
    }
    </script>


{% endblock %}
