{% extends 'bases/base_list.html' %}
{% block header_tabla %}
    <th class="dt-center" style="width: 16%">Nombre completo</th>
    <th class="dt-center" style="width: 15%">Identificaciones</th>
    <th class="dt-center" style="width: 24%">Direccion</th>
    <th class="dt-center" style="width: 20%">Contactos</th>
    <th class="dt-center" style="width: 15%">Datos Extras</th>
    <th style="text-align:center; width: 10%" class="dt-center"><i class="fa fa-cogs"></i></th>
{% endblock %}
{% block body_tabla %}
    {% for elemento in page_obj %}
        <tr>
            <td class="dt-center">{{ elemento.persona.nombre_completo }}<br>
                {% if elemento.persona.mi_cumpleannos %}
                    <b>Hoy es su cumpleaños</b><i data-toggle="tooltip" data-placement="bottom"
                                                  title="Hoy cumple {{ elemento.persona.edad_cumple }} años"
                                                  class="fas fa-birthday-cake fa-2x" style="color: #e21b76"></i>
                {% endif %}
            </td>
            <td class="dt-center">{% if elemento.persona.cedula %}
                <b>Cedula: </b> {{ elemento.persona.cedula }}<br>
            {% endif %}
                {% if elemento.persona.ruc %}
                    <b>Ruc: </b> {{ elemento.persona.ruc }}<br>
                {% endif %}
                {% if elemento.persona.pasaporte %}
                    <b>Pasaporte: </b> {{ elemento.persona.pasaporte }}<br>
                {% endif %}
                {% if elemento.persona.libretamilitar %}
                    <b>Libreta Militar: </b>{{ elemento.persona.libretamilitar }}

                {% endif %}
            </td>
            <td class="dt-center">
                {% if elemento.persona.direccion %}
                    <b>Calle principal: </b> {{ elemento.persona.direccion }}<br>
                    {% if elemento.persona.direccion2 %}
                        <b>Calle Secundaria: </b> {{ elemento.persona.direccion2 }}<br>
                    {% endif %}
                    {% if elemento.persona.num_direccion %}
                        <b>Numero: </b>{{ elemento.persona.num_direccion }}<br>
                    {% endif %}
                {% endif %}

                {% if elemento.persona.referencia %}
                    <b>Referencia: </b><br>{{ elemento.persona.referencia }}<br>
                {% endif %}
            </td>
            <td class="dt-center">
                {% if elemento.persona.telefono %}
                    <b>Celular: </b>{{ elemento.persona.telefono }}<br>
                {% endif %}
                {% if elemento.persona.telefono_conv %}
                    <b>Convecional: </b>{{ elemento.persona.telefono_conv }}<br>
                {% endif %}
                {% if elemento.persona.email %}
                    <b>Email: </b><br>{{ elemento.persona.email }}<br>
                {% endif %}
            </td>
            <td class="dt-center">
                {% if elemento.persona.nacimiento %}
                    <b>F. nacimiento: </b><br>{{ elemento.persona.nacimiento|date:'d-m-Y' }}<br>
                {% endif %}
                {% if elemento.persona.genero %}
                    <b>Genero: </b><i class="{{ elemento.persona.icono_genero.icono }} fa-2x"
                                      style="color: {{ elemento.persona.icono_genero.color }}" data-toggle="tooltip"
                                      data-placement="bottom" title="{{ elemento.persona.get_genero_display }}"></i>
                    <br>
                {% endif %}
                {% if elemento.persona.sangre %}
                    <b>Tipo sangre:</b><b data-toggle="tooltip" data-placement="bottom"
                                          title="{{ elemento.persona.sangre }}">{{ elemento.persona.sangre }}</b><br>
                {% endif %}
                {% if elemento.persona.nacimiento %}
                    <b>Edad: </b>{{ elemento.persona.edad }}
                {% endif %}
                {% if elemento.persona.lgtbi %}
                    <span class="badge badge-info" style="font-size: 11px">LGTBI</span>
                {% endif %}
            </td>
            <td style="text-align:center; width: 10%">
                <a type="button" class="btn btn-warning btn-xs editar" pk="{{ elemento.pk }}" style="color: white"
                        {% if not modal_form %}
                   href="{{ request.path }}?action=edit&pk={{ elemento.persona.encoded_id }}"{% endif %}><i
                        class="fa fa-edit"></i></a>
                <a type="button" class="btn btn-danger btn-xs eliminar" pk="{{ elemento.pk }}"><i
                        class="fa fa-trash"></i></a>
                {% if elemento.persona.es_mayor_de_edad %}
                   {% if not elemento.persona.es_administrativo or not elemento.persona.es_profesor%}
                    <div class="nav-item dropdown">
                        <a type="button" class="btn btn-default dropdown-toggle dropdown-icon btn-xs"
                           data-toggle="dropdown"
                           aria-expanded="true">
                            <i class="fa fa-cog"></i>
                        </a>
                    {% endif %}
                        <div class="dropdown-menu dropdown-menu-xs dropdown-menu-right">
                            {% if not elemento.persona.es_administrativo %}
                                <a class="dropdown-item administrativo" href="#" obj="{{ elemento.persona.pk }}"
                                   style="font-size: 12px;"><i class="fa fa-user-cog"></i> Crear Administrativo</a>
                            {% endif %}
                            {% if not elemento.persona.es_profesor %}
                                <a class="dropdown-item docente" href="#" obj="{{ elemento.persona.pk }}"
                                   style="font-size: 12px;"> <i class="fa fa-university"></i> Crear Docente </a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="8" style="text-align: center">No existen registros para mostrar</td>
        </tr>
    {% endfor %}
    <style>
        {#.dropdown-menu {#}
        {#    left: -40px !important;#}
        {# }#}
    </style>
{% endblock %}
{% block validate_form %}
    <script>
    $(function () {
        $('.administrativo').click(function (e) {
            e.preventDefault();
            let pk = $(this).attr('obj');
            save_estado('Atencion!', window.location.pathname, 'Esta seguro que desea crearle un perfil administrativo a esta persona?',
                {'action': 'add_administrativo', 'id': pk}, function (e) {
                window.location.href = '/administrativo';
            })

        });
        $('.docente').click(function (e) {
            e.preventDefault();
            let pk = $(this).attr('obj');
            save_estado('Atencion!', window.location.pathname, 'Esta seguro que desea crear un perfil docente a esta persona?',
                {'action': 'add_docente', 'id': pk}, function (e) {
                window.location.href = '/docente';
            })

        });

    })
    </script>
{% endblock %}
