{% extends 'bases/base_form.html' %}

{% block  form %}
       <form id="form" class="{% block inline %}{% endblock %}">
        <div class="card-body">
            <p><b><i class="fas fa-id-card-alt"></i> Alumno</b></p>
            <hr>
            <div class="row">
                <input type="hidden" name="action" value="{{ action }}">
                <input type="hidden" name="pk" value="{{ instancia.pk }}">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="id_persona">Alumno:</label>
                        <select name="persona" id="id_persona" class="select2 form-control" style="width: 100%"></select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="id_representante">Representante:</label>
                        <select name="representante" id="id_representante" class="select2 form-control" style="width: 100%"></select>
                    </div>
                </div>
            </div>
            <br>
            <p><b><i class="far fa-id-card"></i> Curso:</b></p>
            <hr>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="id_periodo">Periodo:</label>
                        <select name="periodo" id="id_periodo" class="select2 form-control" style="width: 100%;"></select>
                    </div>
                </div>
                <div class="col-sm-4">
                   <div class="form-group">
                        <label for="id_curso">Curso:</label>
                        <select name="curso" id="id_curso" class="select2 form-control" style="width: 100%;"></select>
                    </div>
                </div>
                <div class="col-sm-4">
                     <div class="form-group">
                        <label for="id_paralelo">Paralelo:</label>
                        <select name="paralelo" id="id_paralelo" class="select2 form-control" style="width: 100%"></select>
                    </div>
                </div>
            </div>
            {% block extra_form %}

            {% endblock %}
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger"
                    onclick="window.location.href = '{{ request.path }}';">Cancelar
            </button>
        </div>
    </form>
{% endblock %}
{% block sumbit_form %}
{% endblock %}
{% block validate_form %}
    <script>
        $(function () {
            {% if instancia %}
                var personaedit = new Option('{{ instancia.alumno.persona.nombre_completo }}', {{ instancia.alumno.persona.id }}, true, true);
                var representanteedit = new Option('{{ instancia.alumno.representante.nombre_completo }}', {{ instancia.alumno.representante.id }}, true, true);
                var periodoedit = new Option('{{ instancia.curso.periodo.nombre }}', {{ instancia.curso.periodo.id }}, true, true);
                var cursoedit = new Option('{{ instancia.curso.curso.nombre }}', {{ instancia.curso.curso.id }}, true, true);
                var paraleloedit = new Option('{{ instancia.paralelo.nombre }}', {{ instancia.curso.id }}, true, true);
            {% endif %}
            $('#id_periodo').select2({
                language: {
                    inputTooShort: function () {
                        return "Ingresa al menos un caracter...";
                    },
                    "noResults": function () {
                        return "Sin resultados";
                    },
                    "searching": function () {
                        return "Buscando...";
                    }
                },
                theme: 'bootstrap4',
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'GET',
                    url: '/inscripciones/',
                    data: function (params) {
                        return {
                            term: params.term,
                            action: 'search_periodo'
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };

                    },

                },
                placeholder: 'Busca un periodo',
                minimumInputLength: 1,
            }).on('select2:select', function (e) {
                $.ajax({
                    type: "GET",
                    url: '/inscripciones/',
                    data: {
                        "id": $('#id_periodo option:selected').val(),
                        "alumno": $('#id_persona option:selected').val(),
                        'action': 'check_inscripcion'
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.resp === true){
                            menssaje_error('Este Alumn@ ya se encuentra inscrito en el periodo seleccionado');
                            $('#id_periodo').val(null).change();
                        } else if (data.resp === false && data.mensaje) {
                            menssaje_error(data.mensaje);
                            $('#id_periodo').val(null).change();
                        }
                    },
                    error: function (xhr, status, data) {
                        alert(data);
                    },

                })
            })
            {% if instancia %}.append(periodoedit).trigger('change'){% endif %};
            $('#id_curso').select2({
                language: {
                    inputTooShort: function () {
                        return "Ingresa al menos un caracter...";
                    },
                    "noResults": function () {
                        return "Sin resultados";
                    },
                    "searching": function () {
                        return "Buscando...";
                    }
                },
                theme: 'bootstrap4',
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'GET',
                    url: '/inscripciones/',
                    data: function (params) {
                        return {
                            term: params.term,
                            action: 'search_curso',
                            id: $('#id_periodo option:selected').val()
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };

                    },

                },
                placeholder: 'Busca un Curso',
                minimumInputLength: 1,
            }){% if instancia %}.append(cursoedit).trigger('change'){% endif %};
            $('#id_paralelo').select2({
                language: {
                    inputTooShort: function () {
                        return "Ingresa al menos un caracter...";
                    },
                    "noResults": function () {
                        return "Sin resultados";
                    },
                    "searching": function () {
                        return "Buscando...";
                    }
                },
                theme: 'bootstrap4',
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'GET',
                    url: '/inscripciones/',
                    data: function (params) {
                        return {
                            term: params.term,
                            action: 'search_paralelo',
                            id: $('#id_periodo option:selected').val(),
                            idcurso: $('#id_curso option:selected').val()
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };

                    },

                },
                placeholder: 'Busca un Paralelo',
                minimumInputLength: 1,
            }){% if instancia %}.append(paraleloedit).trigger('change'){% endif %};
            $('#id_persona').select2({
                language: {
                    inputTooShort: function () {
                        return "Ingresa al menos un caracter...";
                    },
                    "noResults": function () {
                        return "Sin resultados";
                    },
                    "searching": function () {
                        return "Buscando...";
                    }
                },
                theme: 'bootstrap4',
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'GET',
                    url: '/inscripciones/',
                    data: function (params) {
                        return {
                            term: params.term,
                            action: 'search_alumno',
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };

                    },

                },
                placeholder: 'Busca un alumno',
                minimumInputLength: 1,
            }).on('select2:select', function (e) {
                $.ajax({
                    type: "GET",
                    url: '/inscripciones/',
                    data: {
                        "id": $('#id_persona option:selected').val(),
                        'action': 'check_alumno'
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.resp === true){
                            preguntar_si_no('Atencion!', 'Este almuno tiene como respresentante a: <br> <b>'+data.text+'</b><br> ' +
                                'Desea conservarlo como representante?', function () {
                                var newOption = new Option(data.text , data.id , true, true);
                                $('#id_representante').append(newOption).trigger('change');
                            }, function () {
                                $('#id_representante').val(null).trigger('change')
                            })
                        } else {
                            menssaje_ok('Atencion!', 'Este alumno no tiene un representante asiganado, por favor elige uno para continuar', 'info', function () {})
                        }
                    },
                    error: function (xhr, status, data) {
                        alert(data);
                    },

                })
            })
                .on('change', function () {
                $('#id_representante').val(null).trigger('change')
            }){% if instancia %}.append(personaedit).trigger('change'){% endif %};
            $('#id_representante').select2({
                language: {
                    inputTooShort: function () {
                        return "Ingresa al menos un caracter...";
                    },
                    "noResults": function () {
                        return "Sin resultados";
                    },
                    "searching": function () {
                        return "Buscando...";
                    }
                },
                theme: 'bootstrap4',
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'GET',
                    url: '/inscripciones/',
                    data: function (params) {
                        return {
                            term: params.term,
                            action: 'search_representante',
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };

                    },

                },
                placeholder: 'Busca un representante',
                minimumInputLength: 1,
            }){% if instancia %}.append(representanteedit).trigger('change'){% endif %};
            validador();
            $("#form").validate({
                rules: {
                    periodo: {required: true,},
                    paralelo: {required: true},
                    curso: {required: true},
                    persona: {required: true},
                    representante: {required: true},
                },
                messages: {
                    periodo: {required: "Por favor elige un periodo"},
                    paralelo: {required: "Por favor elige un paralelo"},
                    curso: {required: "Por favor elige un curso"},
                    persona: {required: "Por favor elige un alumno"},
                    representante: {required: "Por favor elige un representante"},
                },
            });
            $('[data-toggle="tooltip"]').tooltip();
            $('#form').on('submit', function (e) {
                e.preventDefault();
                if ($(this).valid()) {
                    var parametros = new FormData(this);
                    {% if pk %}parametros['pk'] = '{{ pk }}';{% endif %}
                    save_with_ajax2('Estas seguro?', '/inscripciones/', 'Desea guardar esta informacion?', parametros,
                        function (e) {
                            menssaje_ok('Todo correcto!', 'Informacion guardada corectamente!', 'success', function (e) {
                                window.location.replace('/inscripciones/');
                            })

                        })
                }

            });
        });


    </script>

{% endblock %}