{% extends 'bases/base_list.html' %}
{% block filtros %}
    <div class="row">
        <div class="col-sm-12">
            <form action="{{ request.path }}">
                <table>
                    <tbody>
                    <tr>
                        <td style="width: 20%">
                            <select name="periodos" id="id_periodos" class="form-control input-sm">
                            </select>
                        </td>
                        <td style="width: 20%">
                            <select name="cursos" id="id_cursos" class="form-control input-sm">
                            </select>
                        </td>
                        <td style="width: 20%">
                            <select name="paralelos" id="id_paralelos" class="form-control input-sm">
                            </select>
                        </td>
                        <td style="width: 20%">
                            <div class="form-group"><br>
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm input-search"
                                           style="border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important;"
                                           placeholder="Buscar...." autocomplete="off"
                                           aria-label="Buscar..." aria-describedby="basic-addon2"
                                           name="search"
                                           value="{{ search }}">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success btn-sm" type="button" id="search"
                                                data-toggle="tooltip" data-placement="bottom"
                                                title="Buscar...">
                                            <i class="fa fa-search"></i></button>
                                        {% if search %}
                                            <button class="btn btn-outline-danger btn-sm" type="button"
                                                    data-toggle="tooltip" data-placement="bottom"
                                                    title="Mostrar todos"
                                                    onclick="window.location.href ='{{ request.path }}'"><i
                                                    class="fas fa-redo-alt"></i></button>
                                        {% endif %}

                                    </div>
                                </div>

                            </div>
                        </td>
                        <td style="width: 10%">
                            <div class="form-group float-right">
                                <button {% if not modal_form %}onclick="window.location.href ={{ url_add }};" {% endif %}type="button"
                                        class="btn btn-block btn-primary btn-sm"
                                        {% if modal_form %} data-toggle="modal"
                                        data-target="#modal_form"{% endif %}
                                        style="margin-right: 2px;"><i class="fa fa-plus-circle"></i> Agregar
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    <br>
{% endblock %}
{% block header_tabla %}
    <th class="dt-center">Alumno</th>
    <th class="dt-center">Curso</th>
    <th class="dt-center">Paralelo</th>
    <th class="dt-center">Periodo</th>
    <th style="text-align:center; width: 10%" class="dt-center"><i class="fa fa-cogs"></i></th>
{% endblock %}
{% block body_tabla %}
    {% for elemento in page_obj %}
        <tr>
            <td class="dt-center">{{ elemento.alumno.persona }}</td>
            <td class="dt-center">{{ elemento.curso.curso.nombre }}</td>
            <td class="dt-center">{{ elemento.curso.paralelo.nombre }}</td>
            <td class="dt-center">{{ elemento.curso.periodo.nombre }}</td>
            <td style="text-align:center; width: 10%" class="dt-center">
                <a type="button" class="btn btn-warning btn-xs editar" pk="{{ elemento.encoded_id }}" style="color: white"
                        {% if not modal_form %}
                   href="{{ request.path }}?action=edit&pk={{ elemento.encoded_id }}"{% endif %}><i
                        class="fa fa-edit"></i></a>
                {% if not elemento.tiene_inscripciones %}
                    <a type="button" class="btn btn-danger btn-xs eliminar" pk="{{ elemento.pk }}"><i
                            class="fa fa-trash"></i></a>
                {% endif %}
            </td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5" style="text-align: center">No existen registros para mostrar</td>
        </tr>
    {% endfor %}
{% endblock %}
{% block modal %}
    <div class="row">
        <div class="col-sm-12">
            <div class="modal fade" id="modal_detalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <form id="form">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="titulo_form"><i
                                        class="fas fa-book"></i> Detalle de materias
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="card-body">
                                    <table class="table table-bordered" id="table_materias">
                                        <thead>
                                        <tr>
                                            <th style="width: 5%">#</th>
                                            <th style="width:15%;">Identificacion</th>
                                            <th style="width: 50%;">Nombre</th>
                                            <th style="width: 20%">Alias</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal"> Cerrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block validate_form %}
    <script>
        $(function () {
            $('.detalle').on('click', function (e) {
                $('#modal_detalle').modal('show');
                e.preventDefault();
                $('#table_materias').DataTable({
                    destroy: true,
                    dom: 't',
                    autoWidth: false,
                    dataSrc: "",
                    responsive: true,
                    language: {
                        "url": '//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json'
                    },
                    ajax: {
                        url: window.location.pathname,
                        type: 'POST',
                        data: {'pk': $('.detalle').attr('pk'), 'action': 'detalle'},
                        dataSrc: ""
                    },
                    columns: [
                        {data: 'id'},
                        {data: "identificacion"},
                        {data: "nombre"},
                        {data: "alias"}
                    ],
                });
            });
            $('.eliminar').on('click', function (e) {
                e.preventDefault();
                var parametros = {'action': 'delete', 'pk': $(this).attr('pk')};
                save_estado('Estas seguro?', window.location.pathname, 'Desea eliminar este registro?', parametros, function (data) {
                    menssaje_ok('Todo correcto!', 'Registro eliminado corectamente!', 'success', function (e) {
                        window.location.reload();
                    })
                });
            });
            $('#id_periodos').select2({
                language: {
                    inputTooShort: function () {
                        return "Ingresa al menos un caracter...";
                    },
                    "noResults": function () {
                        return "Sin resultados";
                    },
                    "searching": function () {
                        return "Buscando...";
                    }
                },
                theme: 'bootstrap4',
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'GET',
                    url: '/inscripciones/',
                    data: function (params) {
                        return {
                            term: params.term,
                            action: 'filter_periodo'
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };

                    },

                },
                placeholder: 'Buscar por periodo',
                minimumInputLength: 1,
            }).on('change', function (e) {
                e.preventDefault();
                $('#id_cursos').val('').trigger('change');
                $('#id_paralelos').val('').trigger('change');

            });
            $('#id_cursos').select2({
                language: {
                    inputTooShort: function () {
                        return "Ingresa al menos un caracter...";
                    },
                    "noResults": function () {
                        return "Sin resultados";
                    },
                    "searching": function () {
                        return "Buscando...";
                    }
                },
                theme: 'bootstrap4',
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'GET',
                    url: '/inscripciones/',
                    data: function (params) {
                        return {
                            term: params.term,
                            action: 'filter_curso',
                            id: $('#id_periodos option:selected').val()
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };

                    },

                },
                placeholder: 'Buscar por Curso',
                minimumInputLength: 1,
            }).on('change', function (e) {
                e.preventDefault();
                $('#id_paralelos').val('').trigger('change');
            });
            $('#id_paralelos').select2({
                language: {
                    inputTooShort: function () {
                        return "Ingresa al menos un caracter...";
                    },
                    "noResults": function () {
                        return "Sin resultados";
                    },
                    "searching": function () {
                        return "Buscando...";
                    }
                },
                theme: 'bootstrap4',
                allowClear: true,
                ajax: {
                    delay: 250,
                    type: 'GET',
                    url: '/inscripciones/',
                    data: function (params) {
                        return {
                            term: params.term,
                            action: 'filter_paralelo',
                            id: $('#id_periodo option:selected').val(),
                            curso_id: $('#id_cursos option:selected').val()
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };

                    },

                },
                placeholder: 'Busca un Paralelo',
                minimumInputLength: 1,
            });
            $('#search').on('click', function (e) {
                e.preventDefault();
                let periodo = '', curso = '',paralelo = '', search='';
                if ($('#id_periodos').val() != null){periodo = $('#id_periodos').val();}
                if ($('#id_cursos').val() != null){curso = $('#id_cursos').val();}
                if ($('#id_paralelos').val() != null){paralelo = $('#id_paralelos').val();}
                if ($('.input-search').val() !== ''){ search = $('.input-search').val();}
                window.location.href = '/inscripciones?periodo='+periodo+'&curso='+curso+'&paralelo='+paralelo+'&search='+search

            });
            {% if periodo %}
                var newOption = new Option('{{ periodo.nombre }}', {{ periodo.id }}, true, true);
                $('#id_periodos').append(newOption).trigger('change');
            {% endif %}
            {% if curso %}
                var cursooption = new Option('{{ curso.nombre }}', {{ curso.id }}, true, true);
                $('#id_cursos').append(cursooption).trigger('change');
            {% endif %}
            {% if paralelo %}
                 var paralelooption = new Option('{{ paralelo.nombre }}', {{ paralelo.id }}, true, true);
                $('#id_paralelos').append(paralelooption).trigger('change');
            {% endif %}
        });
    </script>


{% endblock %}
